.koira {
    color: white;
}

.trademark {
    color: white;
    font-family: "loto";
    
}
.hero {
    height: 100vh;
}

.title {
    padding-top: 25vh;
}

.bg {
    background-image: url("https://i.ytimg.com/vi/XK0jjiZ0qKg/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    z-index: -100;
}

.opacity {
    background: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.4)
    );
    z-index: -99;
}

.trademark {
    position: fixed;
    bottom: 0;
    right: 2vh;
    
}

.intro {
   padding-top: 5vh;
    
}

.introtext {
    color: white;
    font-family: "raleway";
    
}

.buttonintro {
    font-weight: 700;
    width: 50%;
    padding-bottom: 50px;
    padding-top: 50px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.6));
    border-radius: 65px 0px 65px 0px;
}

.buttonintro:hover {
        background-color: white;
        color: black;
    }

.buttonintro:focus {
    background: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.6));
    }
    