.koira {
    color: white;
}

.hero {
    height: 100vh;
}

.title {
    padding-top: 40vh;
}

.bg {
    background-image: url("https://i.ytimg.com/vi/XK0jjiZ0qKg/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    z-index: -100;
}

.opacity {
    background: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.4)
    );
    z-index: -99;
}

